.caption-text {
  margin-top: -$small-top-compensator;
  margin-bottom: -$small-bottom-compensator;  
}

.caption {
  display: flex;
  margin-bottom: 18px;
  font-family: $font-family-sans;
  font-size: $small-font-size;
  line-height: $small-line-height;
  background-color: rgba(0, 0, 255, .2);
}