.studyList {
	margin: 0 auto;
	padding: 0;
}

.studyList-title {
	text-align: center;
}

.studyList-item {
/* 	border: 1px solid $color-borderList; */
	padding: 5px;
	margin: 0 5px;
	
	position: absolute;
	display: inline-block;
}