.studyList {
	margin: 0 auto;
	padding: 0;
}

.studyList-title {
	text-align: center;
}

.studyList-item {
	position: absolute;
	
	display: inline-block;
	margin: 0 5px;
	padding: 5px;
	border: 1px solid $color-borderList;
}