.studyPage-list {
	margin-bottom: $padding-small 0 $padding-medium;

	& .is__accent {
		color: $color-accent_alt;
	}
}

.studyPage-list li {
/* 	font-family: $font-family-serif; */

	&.is__title {
		margin: $padding-smaller 0;
		list-style: none;
		font-weight: bold;
	}

	&.is__accent {
		margin: $padding-smaller 0;
		list-style: none;
		text-align: center;
		color: $color-accent_alt;
	}
}	
