.studyHeader {

}

.studyNav {
	display: flex;
	justify-content: flex-start;
	margin: 0px;
	padding: 0px;
	list-style: none;
	
}

.studyNav-item {
	padding: 5px;
	border: 2px solid darkgreen;
}
