.studyPage-list {
	margin-bottom: $padding-small 0 $padding-medium;

	& .is__accent {
		color: $color-accent_alt;
	}
}

.studyPage-list li.is__title {
	margin: $padding-smaller 0;
	list-style: none;
	font-weight: bold;
}