$color-grey: #444444;
$color-lightGrey: #ddd;
$color-accent: #ffc200;
$color-accent_alt: #C72A1F;

$color-sign_red: #EC1E24;
$color-sign_green: #049264;
$color-sign_blue: #046EAC;
$color-sign_yellow: #241E24;

$font: 18px RobotoRegular,Arial,Helvetica CY,Nimbus Sans L,sans-serif;

$padding-small: 20px;
$padding-smaller: 10px;
$padding-big: 60px;

$border: 1px solid $color-accent;