$color-grey: #444444;
$color-lightGrey: #ddd;
$color-accent: #ffc200;
$color-accent_alt: #C72A1F;

$font: 18px RobotoRegular,Arial,Helvetica CY,Nimbus Sans L,sans-serif;

$padding-small: 20px;
$padding-smaller: 10px;