$color-grey: #444444;
$color-lightGrey: #ddd;
$color-accent: #ffc200;
$color-accent_alt: #C72A1F;
$color-accent_alt2: #64B248;

$color-black: #131313;

$color-sign_red: #EC1E24;
$color-sign_green: #049264;
$color-sign_blue: #046EAC;
$color-sign_yellow: #241E24;

$font: 18px 'PT Sans', Arial, sans;

$padding-small: 20px;
$padding-smaller: 10px;
$padding-medium: 40px;
$padding-big: 60px;

$border: 1px solid $color-accent;

$aside-width: 200px;



$font-family-sans: 'PT Sans', Arial, sans;
$font-family-serif: 'PT Serif', Arial, serif;

/* sidenote caption */
$small-font-size: 16px;
$small-line-height: 18px;
$small-top-compensator: 6px;
$small-bottom-compensator: 3px;

/* caption */
$medium-small-font-size: 18px;
$medium-small-line-height: 18px;
$medium-small-top-compensator: 4px;
$medium-small-bottom-compensator: 5px;

/* textNode p */
$medium-font-size: 20px;
$medium-line-height: 27px;
$medium-top-compensator: 11px;
$medium-bottom-compensator: 7px;

/* sidenote */
$lead-font-size: 24px;
$lead-line-height: 27px;
$lead-top-compensator: 11px;
$lead-bottom-compensator: 4px;

/* h3*/
$large-font-size: 32px;
$large-line-height: 36px;
$large-top-compensator: 13px;
$large-bottom-compensator: 5px;

/* h2 */
$title-font-size: 35px;
$title-line-height: 53px;
$title-top-compensator: 18px;
$title-bottom-compensator: 7px;

/* h1 */
$page-title-font-size: 53px;
$page-title-line-height: 90px;
$page-title-top-compensator: 30px;
$page-title-bottom-compensator: 6px;