@import './vendors/*';
@import './*/*';
@import '*';

body {
	margin: 0;
	font: $font;
}

.holder {
	margin: 0 20px;
}

.content {
	display: flex;
	flex-direction: row;
	min-height: calc(100vh - 100px);
}

.line-wrapper {
	display: flex;
	justify-content: center;
	margin: $padding-small 0;
}

.content {
	color: $color-black;
	background-color: white;

	&.is__black {
		color: white;
		background-color: $color-black;
	}
}